@{
    Layout = "_Layout";
}
@model UniversityRegistrar.Models.Student
<main class="create-form pt-5">
    <div class="container text-center">
        <h1>Edit @Html.DisplayFor(student => student.Name)</h1>
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(student => student.StudentId);
            <div class="form-group mt-3">
                @Html.Label("Student's Name" , null , new{@class = "form-label h4"})
                @Html.EditorFor(student => student.Name)
            </div>
            <div class="form-group mt-3">
                @Html.Label("Department" , null , new{@class = "form-label h4"})
                @Html.DropDownList("DepartmentId" , null , new{@class = "form-control text-center"})
            </div>
            <div class="form-group mt-3">
                @Html.Label("Date Of Enrollment" , null , new{@class = "form-label h4"})
                @Html.EditorFor(student => student.DateOfEnroll)
            </div>
            <input type="submit" class="btn btn-dark mt-4 btn-lg" value="Save">
        }
    </div>
</main>