@{
    Layout = "_Layout";
}
@model UniversityRegistrar.Models.Course
<main class="create-form pt-5 text-center">
    <h1 class="mb-4">Edit This Course - @Model.Name</h1>
    <div class="container">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(model => model.CourseId)
            <div class="form-group mt-3">
                @Html.Label("Department" , null , new {@class = "form-label h5"})
                @Html.DropDownList("DepartmentId" , null , new {@class = "form-control text-center"})
            </div>
            <div class="form-group mt-3">
                @Html.Label("Course Name" , null , new{@class = "form-label h5"})
                @Html.EditorFor(model => model.Name , new {@class = "form-control text-center"})
            </div>
            <div class="form-group mt-3">
                @Html.Label("Course Number" , null , new {@class = "form-label h5"})
                @Html.EditorFor(model => model.CourseNo , new {@class = "form-control text-center"})
            </div> 
            <input type="submit" class="btn btn-dark mt-3 btn-lg" value="Save">
        }
    </div>
</main>